body, html {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
   
    }
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}    

main {
    flex: 1 1 auto;
}
/*логотип и навигационное меню*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100px;
    z-index: 1;
    background: linear-gradient(#767677, #9d9d9e);
}



.footer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(#9d9d9e, #767677);
    width: 100%;
}

.social {
    padding: 15px 0 15px 0;
}

.social a {
    font-size: 30px;
    padding: 0 5px 0 5px;
    color: #000;
}

.copy {
    padding-bottom: 15px;
}

.top_menu {
    padding: 10px 0;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_top {
    font-weight: 500;
    font-size: 35px;
    color: #fff;
}

.logo_botton {
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    color: #000;
}

.menu_list {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;

}
.menu_list>li {
    font-size: 18px;
    padding: 10px 15px;
    text-transform: uppercase;
}

.menu_list>li:hover .sub-menu_list {
    display: block;

}

.menu_link:hover {
    color: #C6386D;
}

.menu_link {
    color: #fff;
}
.menu li {
    position: relative;
}

.sub-menu_list {
    display: none;
    position: absolute;
    left: 0;
    top: 20px;
    padding: 20px 0 0 0;
    width: 230px;

}

.sub-menu_list>li {
  background-color: #fff;
padding: 5px 0 10px 15px;
}

.sub-menu_link {
    color: #000;
    display: inline-block;
    text-transform: none;
}

.sub-menu_list>li:hover {
    background-color: #c6c6ca;
}

/*.arrow {
    display: none;
position: absolute;
right: 0;
top: 14px;
 width: 0;
 height: 0;
 border-top: 10px solid #fff;
 border-right: 10px solid transparent;
border-left: 10px solid transparent;
}*/








/*слайдер верхний*/
:root {
    --z-distance: 150px;
    --from-left: 1;
    --mobile-bkp: 650px;
    --slider-height: 800px;
}



.slider {
    width: 100%;
    margin: 100px 0 60px 0;
    height: var(--slider-height);
    display: flex;
    perspective: 1000px;
    transform-style: preserve-3d;
    position: relative;
}

.slider::before,
.slider::after {
    content: '';
    left: 0;
    top: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: var(--slider-height);
    background-position: center;
    background-size: cover;
    will-change: opacity;
    z-index: -1;
    box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.3) inset;
}

.slider::before {
    background-image: var(--img-prev);
}

.slider::after {
    transition: opacity 0.7s;
    opacity: 0;
    background-image: var(--img-next);
}

.slider--bg-next::after {
    opacity: 1;
}

.slider-content {
    margin: auto;
    width: 65%;
    height: 65%;
    will-change: transform;
    transform-style: preserve-3d;
    pointer-events: none;
    transform: translateZ(var(--z-distance));
}

.sl-img {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: calc(100% - 50px);
    z-index: 0;
    box-shadow: 0 0 30px #000;
}

.sl-img-item {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    will-change: transform;
    transition-timing-function: ease-in;
    visibility: hidden;
}

.sl-img-item img {
    display: block;
    position: relative;
    left: -30px;
    top: -30px;
    width: calc(100% + 60px);
    max-width: calc(100% + 60px);
    height: calc(100% + 60px);
    object-fit: cover;
    will-change: transform;
}

.sl-img-item-active {
    z-index: 20;
    visibility: visible;
}

.sl-img-item-subactive {
    z-index: 15;
    visibility: visible;
}

.sl-img-item-next {
    transform: translateX(100%);
}

.sl-img-item-prev {
    transform: translateX(-100%);
}

.sl-img-item-transit {
    transition: transform 0.7s, opacity 0.7s;
}

.sl-text {
    position: relative;
    height: 100%;
}

.sl-text-item {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.sl-text-item>* {
    overflow: hidden;
    position: absolute;
}


.sl-text-item p {
    transition: transform 0.35s ease-out;
    overflow: hidden;
    padding: 10px 20px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-align: center;
}


.sl-text-item p {
    color: #FFF;
    font-size: 20px;
    background-color: transparent;
    /*background-color: rgba(255, 255, 255, 0.9);*/
    transform: translateX(100%);
}


.sl-text-item p::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(0);
    transition: transform 0.35s ease-out 0.28s;
}



.sl-text-item-info {
    bottom: 40px;
    right: 0;
    max-width: 75%;
    min-width: min-content;
    transform: translateZ(20px);
}


.sl-text-item-active p {
    transform: translateX(0);
}


.sl-text-item-active p::before {
    transform: translateX(-102%);
}


.sl-text-item-backwards p::before {
    transition: transform 0.35s ease-in;
}


.sl-text-item-backwards p {
    transition: transform 0.35s ease-in 0.35s;
}

.slider__nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: var(--slider-height);
    text-align: center;
}

.sl-nav-arrows {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: var(--slider-height);
}

.sl-nav-arrow {
    height: calc(var(--slider-height) - 100px);
    width: 50vw;
    text-indent: -9999px;
    white-space: nowrap;
}

.sl-nav-arrow-left {
    --arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 4 4'%3E %3Cpolyline points='3 1 1 2 3 3' stroke='white' stroke-width='.6' stroke-opacity='.6' fill='none'%3E%3C/polyline%3E %3C/svg%3E");
    cursor: var(--arrow) 30 30, auto;
}

.sl-nav-arrow-right {
    --arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 4 4'%3E %3Cpolyline points='1 1 3 2 1 3' stroke='white' stroke-width='.6' stroke-opacity='.6' fill='none'%3E%3C/polyline%3E %3C/svg%3E");
    cursor: var(--arrow) 30 30, auto;
}

.sl-nav-dots {
    top: calc(var(--slider-height) - 80px);
    display: inline-flex;
    position: relative;
    padding: 12px;
    pointer-events: none;
}

.sl-nav-dots::before {
    content: '';
    position: absolute;
    left: 22px;
    top: 12px;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255);
    transition: transform 0.7s ease-out;
    transform: translateX(calc(40px * (var(--from-left) - 1)));
}

.sl-nav-dot {
    margin: 0 10px;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(255, 255, 255);
    cursor: pointer;
    pointer-events: all;
    display: inline-block;
    transition: border-color 0.3s ease-out;
}

.sl-nav-dot:hover {
    border-color: rgba(255, 255, 255, 1);
}

.sl-nav-dot:active {
    border-color: rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 650px) {

    .slider::before,
    .slider::after {
        display: none;
    }

    .slider-content {
        width: 100%;
        height: var(--slider-height);
        transform: translateZ(0);
    }

    .sl-img {
        height: 100%;
        box-shadow: none;
    }

    .sl-text-item-info {
        bottom: 116px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .sl-text-item-info p {
        padding: 20px;
    }

    .sl-text-item-head {
        top: 40px;
        left: 40px;
        transform: translateZ(0);
    }

    .sl-text-item-head h3 {
        font-size: 26px;
    }

    .sl-nav-dots {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .sl-nav-arrow {
        width: 10%;
        position: relative;
        cursor: auto;
        height: var(--slider-height);
    }

    .sl-nav-arrow::before {
        content: '';
        background-image: var(--arrow);
        background-size: cover;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .sl-nav-arrow-left {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0, transparent 100%);
    }

    .sl-nav-arrow-left:active {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0, transparent 100%);
    }

    .sl-nav-arrow-right {
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.7) 0, transparent 100%);
    }

    .sl-nav-arrow-right:active {
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.9) 0, transparent 100%);
    }

    /* Фикс для ресайза */
    .slider-content,
    .sl-img-item img {
        transform: none !important;
    }
}

/*Портфолио*/
.portfolio,
.about {
    margin-bottom: 60px;
}

.portfolio-title,
.about-title,
.predmet-title,
.kontakti-title,
.otziv-title {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 60px;
}
.portfolio-content {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.portfolio-content-text {
    text-align: center;
    max-width: 657px;
}

.portfolio-content-text_text1 {
    font-size: 32px;
    font-weight: 500;
    padding-top: 10px;
    
}
.portfolio-content-img {
    max-height: 821px;
    overflow: hidden;
}
.portfolio-content-text_text2 {
    font-size: 16px;
    line-height: 24px;
    padding-top: 10px;
   
}
.portfolio-content-link  {
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    
}
.portfolio-content-link a {
  color: #C6386D;
  
}
.about-content-text {
    
    max-width: 657px;
}
.about-content-text p {
    font-size: 18px;
    line-height: 150%;
    padding-bottom: 15px;
 

}
.about-content-link {
    font-size: 18px;
    padding-top: 10px;

}

.about-content-link a {
    color: #C6386D;

}

.about-content {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
   
}

.underline-one {
position: relative;
    cursor: pointer;
    text-decoration: none;
}

.underline-one:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    /* Высота линии */
    background-color: black;
    /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s;
    /* Время эффекта */
}

.underline-one:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    /* Высота линии */
    background-color: #C6386D;
    /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;
    /* Время эффекта */
}
.itc-slider {
    width: 70%;
    margin: 0 auto;
}

/*Страница предметная съемка*/

.predmet, 
.about,
.kontakti,
.otziv {
    margin: 100px 0 100px 0;
}

.predmet-title,
.about-title,
.kontakti-title,
.otziv-title {
    margin-top: 50px;
}

 .catalog-link {
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
    
 }

 .catalog {
    color: #000;
    
 }

 .catalog:hover {
     color: #C6386D;
 }
 .predmet-content{
    display: flex;
    flex-direction: column;
    width: 33%;
    padding-bottom: 30px;
 }
 .portfolio-predmet-content {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
 }
 .predmet-content-img {
    max-height: 462px;
    overflow: hidden;
    text-align: center;
 }
 .catalog-link {
    max-width: 370px;
    margin: 0 auto;
 }
 .marshrut {
margin: 0px auto;
width: 70%;

 }
 .breadcrumb {
    display: flex;
    padding-top: 30px;
 }
 span {
    padding: 0 5px 0 5px;
 }

 .not_active a {
    color: #C6386D;
 }
 .not_active a:hover {
     color: #000;
 }

.gallery {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 60px;
}

 .item {
    width: 33%;
    padding-bottom: 20px;

 }

 .img-link:hover {
    transform: scale(1.1);
    
 }
.img-link {
transition: all 0.7s ease-in-out;
}
 /*Страница обо мне*/
 
.about-img {
    max-width: 500px;
    overflow: hidden;
}
 .about-text {
   padding-top: 50px;
   width: 60%;
 }

 .about-text p,
  .about-text li {
     font-size: 18px;
     line-height: 150%;
     padding-bottom: 15px;
 }

 .about-sub-title {
    font-size: 32px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 60px;
 }

 /*Страница контакты*/
 .kontakti-content {
   text-align: center;
   font-size: 20px;
 }
 .tel {
    color: #000;
 }
 .tel:hover,
 .social-content a:hover,
 .social a:hover {
    color: #C6386D;
 }
 .kontakti-content p {
   margin: 0 0 30px 0;
 }
 .social-content {
    display: flex;
    text-align: center;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    
 }
 .item {
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .social-content a {
    font-size: 30px;
        padding: 0 5px 0 5px;
        color: #000;
 }
 .kontakti-sub-title {
     font-size: 32px;
     font-weight: 500;
     text-align: center;
     margin: 70px 0 60px 0;
 }
 .kontakti-text {
     font-size: 18px;
     line-height: 150%;
     padding: 15px 0 15px 0;
 }

 form {
    text-align: center;
 }

 .form input,
 .form textarea {
    border: 1px solid #000;
    padding: 20px;
    width: 400px;
    margin-bottom: 30px;
    border-radius: 5px;
 }
 .button input {
    color: #fff;
    background:#C6386D;
    padding: 20px;
    width: 200px;
    font-size: 20px;
    border-radius: 5px;
 }
 .button input:hover {
    background: #999496;
    
     }
 